html, body {
	background-color: #4d6c98;
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
}

header {
	height: 50px;

	flex: 0 1 auto;

	background-image: linear-gradient(to bottom, rgba(60,84,119,1) 0%,rgba(0,0,0,0) 100%);

	line-height: 50px;
}

.header_button {
	padding: 0px 15px;
	display: inline-block;
	height: 100%;
	transition-duration: .5s;

	border-right: 2px solid #3c5477;
	margin-left: 0px;

	color: #CCC;
	font-family: Tahoma;
	font-variant: all-small-caps;
	font-size: 1.2em;

	text-decoration: none;
}

.header_button:hover {
	background-color: #3c5477;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

footer {
	z-index: 1;

	flex: 0 1 auto;
	margin-bottom: 5px;

	text-align: center;
	color: #282828;
	font-family: Tahoma;
	font-variant: all-small-caps;
	font-size: .7em;
}