@media screen and (max-width: 1024px) {
	#hl {
		margin: 0 20px;
	}
}

@media screen and (min-width: 1024px) {
	#hl {
		margin: 0 70px;
	}
}

main {
	flex-flow: column;
}

#page_title {
	z-index: 1;

	flex: 0 1;

	margin: 0 auto;
	margin-bottom: 15px;

	text-align: center;
	color: #333;
	font-weight: 500;
	font-family: "Roboto Mono", monospace;
	font-style: italic;
	font-size: 1.8em;

	background-color: #D8C9BF;
	padding: 0 15px;
}

#hl {
	top: calc(50px + 5% + 21px);
	left: 0;
	right: 0;
	position: absolute;

	width: auto;
	height: 1px;
	background-color: #333;
}

.align_left {
	flex-flow: row-reverse;
}

.align_right {
	flex-flow: row;
}

.flex_box {
	flex-grow: 0;
	margin-bottom: 0;
}

.flex_box .container_box {
	margin: 20px;
}

.flex_box div.container_box {
	flex: 1 1 auto;
}

.flex_box img.container_box {
	flex: 0 0 auto;

	height: auto;
}
